@import 'tailwindcss';
@plugin '@tailwindcss/forms';


.top-button {
    vertical-align: middle;
    min-width: 80px;
    height: 33px;
    color: #FFF;
    border-radius: 4px;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 5px;
    background-color: #3d77ff;
    border-color: #3d77ff;
}

.general-button {
    display: inline-flex;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    align-items: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    text-wrap-mode: nowrap;
    white-space-collapse: collapse;
    line-height: 1.5;
    padding: 4px 15px;
    user-select: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    gap: 5px;
    vertical-align: middle;
}
